.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  text-align: center;
  flex: 1;
}

.header-img {
  width: 40px;  /* 好きなサイズに調整OK */
  height: auto;
}
